<h1 id="title">{{title}}</h1>
<h1>{{body}}</h1>
<form name="itemForm">
    <label for="newItem">Input Item: </label>
    <input id="newItem" type="text" name="newItem" ng-model="newItem" required/>
    <button ng-disabled="itemForm.$invalid" ng-click="addElement()" >{{button}}</button>
</form>

<p>{{listInfo}}
</p>

<!-- List -->
<ul>
    <li ng-repeat="item in item">
        <i id="delete" class="material-icons" ng-click="removeElement($index)">clear</i>
        <span>{{item.new}}</span>
    </li>
</ul>
