<h1 id="header">{{header}}</h1>
<h2>{{title}}</h2>

<a href="#!/about">{{aboutLink}}</a>
<p id="inputInfo">{{inputInfo}}</p>

<!-- Input form -->
<form id="form" name="itemForm">
    <label for="newItem">Input Item: </label>
    <input id="newItem" type="text" name="newItem" ng-model="newItem" required/>
    <button ng-disabled="itemForm.$invalid" ng-click="addElement()" >{{button}}</button>
</form>

<p id="listInfo">{{listInfo}}</p>

<!-- List -->
<ul>
    <li ng-repeat="item in item">
        <span><img id="delete" src="ico/x.png" ng-click="removeElement($index)"/></span>
        <span>{{item.new}}</span>
    </li>
</ul>

<!-- Footer -->
<h1 id="footer">{{footer}}</h1>
